Kukuru-*
!t/kukuru*

.*
!.gitignore
!.shipit
*.o
*.obj
*.bs
*.def
Build*
!Build.PL
_build/
Makefile*
!Makefile.PL
*blib
META.yml
META.json
MYMETA.yml
MYMETA.json
pm_to_blib
inc/
!.travis.yml
*.out
*.bak
*.old
ppport.h
nytprof*
cover_db*
*.gcda
*.gcno
*.gcov
*.stackdump
.*.sw[pon]

misc/*
benchmark/result.txt
sandbox/*
