language: perl
perl:
  - "5.16"
  - "5.14"
  - "5.12"
  - "5.10"
before_install:
    - "cpanm --installdeps ."
install: "perl Makefile.PL"
script: "make test"
notifications:
  email:
    - herarans@gmail.com
